In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Healthcare Data Lake ETL") \
    .getOrCreate()

In [3]:
df = spark.read.csv(
    "/content/patients_raw.csv",
    header=True,
    inferSchema=True
)

df.printSchema()
df.show(5)
print("Total records:", df.count())

root
 |-- patient_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- blood_pressure: string (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- bmi: double (nullable = true)
 |-- diabetes: string (nullable = true)
 |-- hypertension: string (nullable = true)
 |-- medication_count: integer (nullable = true)
 |-- length_of_stay: integer (nullable = true)
 |-- discharge_destination: string (nullable = true)
 |-- readmitted_30_days: string (nullable = true)

+----------+---+------+--------------+-----------+----+--------+------------+----------------+--------------+---------------------+------------------+
|patient_id|age|gender|blood_pressure|cholesterol| bmi|diabetes|hypertension|medication_count|length_of_stay|discharge_destination|readmitted_30_days|
+----------+---+------+--------------+-----------+----+--------+------------+----------------+--------------+---------------------+------------------+
|         1| 74| Other|        130/72|        240|31.5|     Yes|          No|               5|             1|     Nursing_Facility|               Yes|
|         2| 46|Female|        120/92|        292|36.3|      No|          No|               4|             3|     Nursing_Facility|                No|
|         3| 89| Other|        135/78|        153|30.3|      No|         Yes|               1|             1|                 Home|                No|
|         4| 84|Female|        123/80|        153|31.5|      No|         Yes|               3|            10|                 Home|                No|
|         5| 32| Other|        135/84|        205|18.4|      No|         Yes|               6|             4|     Nursing_Facility|                No|
+----------+---+------+--------------+-----------+----+--------+------------+----------------+--------------+---------------------+------------------+
only showing top 5 rows
Total records: 30000